html {
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 16px;
}

*,
*:before,
*::after {
	box-sizing: inherit;
}

.productos {
	display: flex;
	flex-wrap: wrap;
}

.productos > * {
	flex: 1 1 300px;
	margin: 0rem;
}

.producto {
	background-color: #dccccd;
	color: #fff;
	font-size: 125%;
	text-align: center;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.producto:hover {
	opacity: 0.9;
	transform: scale(0.9);
}

.producto img {
	height: 250px;
	width: 100%;
}

.producto figcaption {
	padding: 1rem;
}